<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcf" allowCookies="true" maxReceivedMessageSize="134217728" maxBufferSize="134217728" maxBufferPoolSize="134217728">
                    <readerQuotas maxDepth="32" maxArrayLength="134217728" maxStringContentLength="134217728"/>
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52465/SelfService/Wcf" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcf" contract="WcfServiceReference.IWcf" name="BasicHttpBinding_IWcf" />
        </client>
    </system.serviceModel>
</configuration>
