<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="SelfService.Daemon.WcfService" behaviorConfiguration="WcfServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:52465/SelfService/Wcf"/>
                    </baseAddresses>
                </host>
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="largeRequest" contract="SelfService.Daemon.IWcf" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WcfServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="False"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="largeRequest" allowCookies="true" maxReceivedMessageSize="134217728" maxBufferSize="134217728" maxBufferPoolSize="134217728">
                    <readerQuotas maxDepth="32" maxArrayLength="134217728" maxStringContentLength="134217728"/>
                </binding>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>
